*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* nav styles */


.nav-container{

min-height:100px ;
display: flex;
justify-content: space-around;
align-items: center;
color: white;
width: 100%;

}


/* inside nav container styles */


.nav-child1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-child1 img{
    width: 50px;
    height: 25px;
}


/* another section styles */


.span{
    font-weight: bold;
    color: #F948B2; 
}
.nav-child1 h2{
    font-size: 1.75rem;
    color: black;
}
.nav-child2{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.nav-child2 li{
    list-style: none;
    color: black;
}


.btn{
    border: none;
    border-radius: 5px;
    padding: 8px 20px;

}
.fa-brands{
 margin-left: 5px;
 color:black;
 font-size: 16px;
}
.tiktok{
    margin-left: 5px;
    color: red;
    font-size: 15px;  
}


/* Game section styles */



.game-section{
   
    display: grid;
    margin: 50px auto;
    max-width: 1030px;
    min-width: 426px;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.game-h2{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 15px;
}
.game-span{
    color: #F948B2;  
}
.game-p{
    text-align: center;
    font-size: .8rem;
    margin-top: 20px ;
    color:gray;
}

.game-img{
    color: rgba(0, 0, 0, 0.132);
}
.game-child1 img{
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.132);
  
}


.game-child1 p{
    color: gray;
    font-size: 13px;
    margin-top: 8px;
}

/* Hero section styles */


.hero-section{
   justify-content: space-between;
    width:100vw;
    display: flex;
    height: 70vh;
    background-image: url("images/Group 14.png");
 
}
.hero-child1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    padding-right: 13%;
}
.hero-child2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:0px 10px;
}
.hero-child2 img{
    width: 70%;
}
.hero-child1 h3{
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.span{
    font-size:2.6rem;
    color: #F948B2;
    font-weight: bold;  
    letter-spacing: 2px;
    
}
.fa-play{
   
    color: rgba(178, 20, 20, 0.762);
    font-size: 10px;
    padding: 3px;
    border-radius:35%;
    padding-left: -5px;
    gap: 5px;
    margin-right: 7px;
}
.fa-arrow-right-to-bracket{
    transform-origin: 0 0;
    transform: rotate(90deg);
    color: rgba(255, 0, 0, 0.681);
    margin-left: 12px;
}
.fa-user-group{
    font-size: 10px;
}
.user{
    display: flex;
    align-items: center;
}
.play{
    display: flex;
    align-items: center;
}
.x{
    margin-left: 6px;
}

.small-parent{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}
small{
margin-top: 5px;
font-size: 13px;
}
.hero-btn{
    margin-top: 25px;
    margin-right: 17px;
}
.btn1{
    background-color: #F948B2;
    padding: 10px 18px;
    border-radius:  20px;
    border: none;
    color: white;
    font-size: 12px;
}
.btn2{
    background-color: #4EC5F7;
    padding: 10px 18px;
    border-radius:  20px;
    border: none;
    color: white;
    font-size: 12px;
}




/* Online game section styles */



.online-parent{
    display: flex;
    margin: 100px auto;
    max-width: 1030px;
    min-width: 426px;
    min-height: 50px;
    
}
.online-child1{
    width: 100%;
    display: flex;
}
.online-child1 img{
    width: 80%;
    height: 80%;
}
.online-child1 .small-img{
    height: 30%;
    width: 30%;
    margin-left:-14%;
    margin-top: 53%;

}
.online-child2{
    width: 100%;
    padding-top: 8rem;
    padding-left: 10rem;


}
.online-child2 span{
    color: #F948B2;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 25px;

}
.online-child2 p{
    color: gray;
    font-size: 13px;
    margin-top: 20px;
}
        


/* button styles */



.bg{
    width: 100%;
    background-color: #ecc3db0f ;
}
.parent{
    
    padding: 50px;
    margin: 50px auto;
    max-width: 1030px;
    min-width: 426px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px;
    background-color: #ecc3db00;
    margin: 0 auto;
    row-gap: 30px;
}
.child{
    border-radius: 20px;
    color: balck;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: whitesmoke;
}
.child:hover{
    background-color: rgba(170, 149, 149, 0.489);
}
.child img{
    width: 30px;
}
.child p{
    font-size: 14px;
}
.child1{
    border: 1px solid red;
}


/* Footer section styles */


.main{
    margin: 100px auto;
    max-width: 100%;
    min-width: 426px;
    border: 1px solid blue;
    height: 50%;
    padding: 40px;
    background-color:#0B0223;
}

.gamer{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.gamer img{
    width: 50px;
    height: 15x;
}
.gamer h2{
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.list{
    color: white;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 40px;
    font-size: 13px;
    color: rgb(241, 230, 230);
}

.icon{
    color: white;
    font-size: 25px;
}
.link{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 40px;
}

.footer-list, .p{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 40px;
    color: gray;
    font-size: 11px;
   letter-spacing: 1px;
}

